# Quandl tutorial

<b>verze ntb:</b> 0.0.0

<b>datum poslední úpravy:</b> 23.5.2016

## Další použité packages

<b>quandl:</b> 3.0.0

## Co to je Quandl a instalace
Quandl z quandl.com je API, které poskytuje přístup k datám na burze.

V příkazové řádce anaconda spustit příkaz:

pip install quandl

In [15]:
import quandl
quandl.get("FRED/GDP")

              VALUE
DATE
1947-01-01    243.1
1947-04-01    246.3
1947-07-01    250.1
1947-10-01    260.3
1948-01-01    266.2
1948-04-01    272.9
1948-07-01    279.5
1948-10-01    280.7
1949-01-01    275.4
1949-04-01    271.7
1949-07-01    273.3
1949-10-01    271.0
1950-01-01    281.2
1950-04-01    290.7
1950-07-01    308.5
1950-10-01    320.3
1951-01-01    336.4
1951-04-01    344.5
1951-07-01    351.8
1951-10-01    356.6
1952-01-01    360.2
1952-04-01    361.4
1952-07-01    368.1
1952-10-01    381.2
1953-01-01    388.5
1953-04-01    392.3
1953-07-01    391.7
1953-10-01    386.5
1954-01-01    385.9
1954-04-01    386.7
...             ...
2008-10-01  14549.9
2009-01-01  14383.9
2009-04-01  14340.4
2009-07-01  14384.1
2009-10-01  14566.5
2010-01-01  14681.1
2010-04-01  14888.6
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4
2011-04-01  15460.9
2011-07-01  15587.1
2011-10-01  15785.3
2012-01-01  15973.9
2012-04-01  16121.9
2012-07-01  16227.9
2012-10-01  16297.3
2013-01-01  16440.7
2013-04-01  16526.8
2013-07-01  16727.5
2013-10-01  16957.6
2014-01-01  16984.3
2014-04-01  17270.0
2014-07-01  17522.1
2014-10-01  17615.9
2015-01-01  17649.3
2015-04-01  17913.7
2015-07-01  18060.2
2015-10-01  18164.8
2016-01-01  18221.1

[277 rows x 1 columns]